
            
            <form class="Questionnaire" method="post" action="backend.js">
                Question {{question}}:
				<div class="form-check form-check-inline">
  				<input class="form-check-input" type="radio" name="inlineRadioOptions_{{question}}" id="inlineRadio1" value="option1">
  				<label class="form-check-label" for="inlineRadio1">A</label>
				</div>
				<div class="form-check form-check-inline">
  				<input class="form-check-input" type="radio" name="inlineRadioOptions_{{question}}" id="inlineRadio2" value="option2">
 				 <label class="form-check-label" for="inlineRadio2">B</label>
				</div>
				<div class="form-check form-check-inline">
  				<input class="form-check-input" type="radio" name="inlineRadioOptions_{{question}}" id="inlineRadio3" value="option3">
  				<label class="form-check-label" for="inlineRadio3">C</label>
				</div>
				<div class="form-check form-check-inline">
  				<input class="form-check-input" type="radio" name="inlineRadioOptions_{{question}}" id="inlineRadio4" value="option4">
  				<label class="form-check-label" for="inlineRadio3">D</label>
				</div><br/>
            <form/>