<h1>Groupes et spécialitées</h1>
<hr>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSpecialtyModal">Ajouter une spécialité</button>
<br />
<br />

{{#if specialties.length}}
    <div class="row row-cols-1 row-cols-md-2">
        {{#each specialties}}
        <div class="col mb-4 col-sm-4">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            {{this.name}}{{this.year}}
                        </div>
                        <div class="col-4">
                            <a  href="#" 
                                class="text-danger" 
                                data-action="deleteSpecialty" 
                                data-id="{{ this.id }}"
                                data-confirm="{{this.name}}{{this.year}}"
                                data-target="#confirmModal"
                                data-toggle="modal"
                            >
                                Supprimer
                            </a>
                        </div>
                    </div>
                </div>
                {{#if this.groups.length}}
                    <ul class="list-group list-group-flush">
                        {{#each this.groups}}
                            <li class="list-group-item">
                                <div class="row justify-content-between">
                                    <div class="col-4">
                                        <a href="/groups/{{this.id}}">Groupe {{this.num}}</a>
                                    </div>
                                    <div class="col-2">
                                        <a href="#" class="text-danger">&times;</a>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <div class="card-body">
                        Pas de groupe
                    </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
{{else}}
    Pas de spécialité
{{/if}}

<div class="modal" tabindex="-1" role="dialog" id="addSpecialtyModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une spécialité</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/groups" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="action" value="addSpecialty">
                    <div class="form-group">
                        <label for="specialtyNameField" class="col-form-label">Nom :</label>
                        <input type="text" class="form-control" name="specialtyName" id="specialtyNameField" placeholder="Nom de la spécialité (ex: IG)">
                    </div>
                    <div class="form-group">
                        <label for="specialtyYearField" class="col-form-label">Année:</label>
                        <input class="form-control" name="specialtyYear" id="specialtyYearField" type="number" min="1" max="5" value="1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" value="Ajouter" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirmModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation de la suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/groups" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="action" value="">
                    <input type="hidden" name="id" value="">
                    <div class="form-group">
                        <label for="confirmField" class="col-form-label"></label>
                        <input type="text" class="form-control" id="confirmField">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" value="Supprimer" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
var oldListener = null;

document.querySelectorAll('a[data-action="deleteSpecialty"').forEach((link) => {
    link.addEventListener("click", (e) => {
        e.preventDefault();
        
        document.querySelector('#confirmModal label[for="confirmField"]').innerHTML = 
        `La suppression de <b>${link.dataset.confirm}</b> entrainera la suppression de tous les comptes associés. ` +
        `Pour confirmer la suppression veuillez taper ${link.dataset.confirm} dans le champ ci-dessous.<br/><br/>` +
        `<div class="text-danger">Attention ! Cette action est irréversible.</div>`;
        
        document.querySelector('#confirmModal input[name="action"]').value = link.dataset.action;
        document.querySelector('#confirmModal input[name="id"]').value = link.dataset.id;
        const field = document.querySelector('#confirmField');
        field.placeholder = link.dataset.confirm;
        field.value = "";
        const delButton = document.querySelector('#confirmModal input[type="submit"]');
        delButton.disabled = true;
        if (oldListener != null) {
            field.removeEventListener("input", oldListener);
        }
        oldListener = (e) => {
            delButton.disabled = e.target.value != link.dataset.confirm;
        };
        field.addEventListener("input", oldListener);
    });
});
</script>