<a href="/admin/students/list" class="btn btn-link">&LeftArrow; Retour</a>

<h1>Profil d'étudiant</h1>

<br>

<div class="card">
    <div class="card-body">
        <div class="from-group row">
            <label for="lastname" class="col-sm-4 col-md-3 col-lg-3 col-form-label"><b>Nom de famille :</b></label>
            <div class="col-sm-8 col-md-8 col-lg-9">
                <input type="text" readonly class="form-control-plaintext" id="lastname" value="{{student.lastname}}">
            </div>
        </div>
        <div class="from-group row">
            <label for="firstname" class="col-sm-4 col-md-3 col-lg-3 col-form-label"><b>Prénom :</b></label>
            <div class="col-sm-8 col-md-9 col-lg-9">
                <input type="text" readonly class="form-control-plaintext" id="firstname" value="{{student.firstname}}">
            </div>
        </div>
        <div class="from-group row">
            <label for="email" class="col-sm-4 col-md-3 col-lg-3 col-form-label"><b>Email :</b></label>
            <div class="col-sm-8 col-md-9 col-lg-9">
                <input type="text" readonly class="form-control-plaintext" id="email" value="{{student.email}}">
            </div>
        </div>
        <div class="from-group row">
            <label for="specialty" class="col-sm-4 col-md-3 col-lg-3 col-form-label"><b>Spécialité :</b></label>
            <div class="col-sm-8 col-md-9 col-lg-9">
                <input type="text" readonly class="form-control-plaintext" id="specialty" 
                
                    {{#if group}}
                        value="{{group.specialty.name}}{{group.specialty.year}}"
                    {{else}}
                        value="Pas de spécialité"
                    {{/if}}
                
                >
            </div>
        </div>
        <div class="from-group row">
            <label for="group" class="col-sm-4 col-md-3 col-lg-3 col-form-label"><b>Groupe :</b></label>
            <div class=" col-sm-8 col-md-9 col-lg-9">
                <input type="text" readonly class="form-control-plaintext" id="group" 
                
                    {{#if group}}
                        value="{{group.num}}"
                    {{else}}
                        value="Pas de groupe"
                    {{/if}}
                
                >
            </div>
        </div>
        <br>
        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmModal">Supprimer l'utilisateur</button>
    </div>
</div>

<br>

<h2>Listening / Reading / Total</h2>
<canvas id="globalChart"></canvas>

<h2>Progression par partie</h2>
<canvas id="partsChart"></canvas>

<input type="hidden" id="student-id" data-userid="{{student.id}}">
<script src="/static/js/studentCharts.js"></script>

<div class="modal" tabindex="-1" role="dialog" id="confirmModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation de la suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="confirmField" class="col-form-label">
                            Etes vous sûr de vouloir supprimer le sujet l'utilisateur <b>{{student.lastname}} {{student.firstname}}</b> ?<br>
                            Pour confirmer la suppression veuillez taper {{student.lastname}} {{student.firstname}} dans le champ ci-dessous.<br/><br/>
                        <div class="text-danger">Attention ! Cette action est irréversible.</div>
                        </label>
                        <input type="text" class="form-control" id="confirmField" placeholder="{{student.lastname}} {{student.firstname}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" value="Supprimer" class="btn btn-danger" disabled>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Delete confirmation
    let confirmButton = document.querySelector('#confirmModal input[type="submit"]');
    document.getElementById("confirmField").addEventListener("input", (e) => {
        confirmButton.disabled = e.target.value != "{{student.lastname}} {{student.firstname}}";
    });
</script>
